

//Logo

.logo{
  background:url('/img/logo/background.jpg');
  height: 400px;
  margin-top:150px;
  text-align: center;
  opacity: 1;
  width: 100vw;
}

.logoImg{
  margin-top: 120px;
  opacity:1;
  transition: all .6s;
  width: 200px;
}

.logoImg-scrolldown{
  opacity:0;
  transition: all .6s;
  width: 200px;
}
