
$color-gray-1:rgba(0,0,0,.6);
$color-gray-2:#f8f9fa;

$corporative-color-1: #5555ff;
$corporative-color-2: #d8cd73;


$background-color-1: $color-gray-2;
$background-color-2: $corporative-color-1;
$background-color-3: $corporative-color-2;
$font-color-1: $color-gray-1;
$font-color-2: $corporative-color-1;
$font-color-3: $corporative-color-2;

